@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background-color: #3a3e4b;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  nav {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    flex-direction: row-reverse;
    ul {
      list-style-type: none;
      display: flex;
      font-weight: bold;
    }
    li {
      margin: 0 1em;
    }
    li:first-child,
    li:last-child {
      margin-left: 0;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
    }
    .logo::before {
      content: " ";
      background-color: skyblue;
      height: 100px;
      width: 50px;
      position: absolute;
      top: 0;
      left: 5em;
      z-index: -1;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
    padding: 4em 0;
    h1 {
      font-size: 70px;
      margin-right: 1.2em;
      margin-bottom: 1em;
      position: relative;
      font-weight: bold;

      &::before {
        content: " ";
        top: 25%;
        z-index: -1;
        background-color: skyblue;
        position: absolute;
        height: 10px;
        width: 80px;
      }
    }
    p {
      margin-right: 1.2em;
      line-height: 2em;
      color: #bdc0cc;
    }
    .title-image {
      width: 650px;
      z-index: -1;
      margin-left: 1.2em;
    }
  }
}

.animate {
  animation: reveal 1s forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-180px);
  }
  to {
    opacity: 1;
    transform: translateX(1);
  }
}
